body {
	background-color: white;
}

a.meLink {
	font-size: 20px;
	color: blue;
	text-decoration: none;
}

.knap {
	background-color: pink;
	display: inline;
	border: 1px solid black;
	border-radius: 2px;
}

.guestBookLink {
	text-decoration: none;
	font-size: 30px;
	background-color:#815de3 ;
	color: #ffafab;
	border-style: outset;

}

.guestBookLink :hover {
	background-color: black;
}

/* GUESTBOOK */
.grid {
	display: grid;
	grid-template-columns: 100px auto;
	grid-template-rows: 50px auto auto;
	grid-template-areas: "header header" "sidebar content" "sidebar footer";
}
.header {
	font-family: impact;
	border: 1px solid black;
	text-align: center;
	font-size: 40px;
	grid-area: header;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	border: 1px solid black;
}

.sidebar {
	grid-area: sidebar;
	text-align: center;
	column-span: 3;
		background-color: #5b5c5b; 
}
/* Sidebar links styling */
.sidebar a {
	text-decoration: none;
	color: white;
	font-size: 25px;
	overflow: hidden;
}

.sidebar a:hover {
	background-color: #34eba8;
}

.guestForm {
	font-size: 20px;
	margin: 10px;
	text-align: center;
}

#tbGuestMessage {
	width: 70%;
}

